{% extends 'base.html' %}

{% block title %}
<p>Details about {{ cake.name }}</p>
{% endblock %}

{% block content %}

<section class="section">
    <div class="container">

    
<div class="cakeInfo"></div>
<h2>{{cake.name}} Details</h2>
<p>Primary Flavour: {{cake.get_flavours_display}} </p>
<p>Description: {{cake.description}} </p>
<hr>
<p>Added by: {{cake.created_by}}</p>
</div>
<br>
<hr>
<br>

<div class="cake-container">

    <div class="cake-image-left">
        <div class="" id="top-of-cake"></div>
        <img 
            src="https://cdn.shopify.com/s/files/1/0856/0804/products/Screenshot2022-05-03at12.37.15_1000x1000_crop_center.png?v=1651583682" 
            height="200" width="200"
            />
        <img src="{{cake.imageurl}}", height="100%", width="100%" />
    </div>

    <div class="recipe-info-right">
        <div class="" id="top-of-cake"></div>
        <h3>Recipes for {{ cake.name }}</h3>
        <h2>{{recipe.name}} Details</h2>
        <p>Description: {{recipe.description}} </p>
        <p>How to make it: {{recipe.instructions}}</p><br />
        <hr>
        <p>Added by: {{recipe.created_by}} on {{created_date}}</p>
        <br>
    </div>
                                                          
</div>


{% if user.id == cake.created_by.id %}
<a class="button is-link is-light" href="{% url 'cakes_update' cake.id %}">Edit Cake</a>
<a class="button is-link is-light" href="{% url 'cakes_delete' cake.id %}">Delete Cake</a>
{% endif %}

{% if user.is_authenticated %}
<!-- <a href ="{% url 'add_recipe' cake.id %}">Add A Recipe</a> -->
<a id="modal-button" class="button is-link is-light">Add Recipe for {{cake.name}}</a>

<div id="recipe-form" class="modal">
    <div class="modal-content">
        <h4>New Recipe</h4><span class="close">&times;</span>
        <form action="{% url 'add_recipe' cake.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="button is-link is-light" value="Add Recipe">
        </form>
    </div>
</div>
    

{% endif %}
<br>
<hr>
<br>
<h3>Recipes for {{ cake.name }}</h3>


{% if cake.recipe_set.all %}

    {% for recipe in page_obj %}
        <div class="card">
            <div class="card-content">
                <h4>
                    {{ recipe.title }}
                </h4>
                <p><strong>Description: </strong>{{ recipe.description}}</p>
                <p>Added by {{ recipe.created_by }} on {{ recipe.created_date }}.</p>
            </div>
            {% if user.id == recipe.created_by.id %}
            <div class="card-action">
                <a class="button is-link is-light" href="{% url 'recipes_update' recipe.id %}">Edit</a>
                <a class="button is-link is-light" href="{% url 'recipes_delete' recipe.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
    {% endfor %}
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                ||
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% else %}
                &laquo; first
                ||
                previous
            {% endif %}
    
            <span class="current">
                || Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} ||
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                ||
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% else %}
                next
                ||
                last &raquo;
            {% endif %}
        </span>
    </div>

{% else %}
    <p>No recipes yet</p>
{% endif %}


</div>
</div>
</section>
{% endblock %}