{% extends 'base.html' %}
{% load bulma_tags %}

{% block title %}
Delete Cake
{% endblock %}

{% block content %}

<section class="section section--form">
  <div class="container">
    <div class="content box">
      <h1>Delete {{ cake.name }}</h1>

      <h4>Are you sure you want to delete <span class="red-text">{{ cake.name }}</span>?</h4>

      <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes - Delete!" class="button is-primary">
        <br>
        <br>
        <p><a href="{% url 'detail' cake.id %}">Cancel</a></p>
    </form> 
    </div>
    
  </div>

</section>

  
{% endblock %}