{% extends 'base.html' %}
{% load bulma_tags %}

{% block title %}
    {% if object  %}
        Edit {{object.name}}
    {% else %}
        Add New Recipe
    {% endif %}
{% endblock %}

{% block content %}

    <section class="section section--form">
        <div class="container is-max-desktop">
            <div class="content box">
                
                {% if object %}
                    <h1>Edit <span class="teal-text">{{object.title}}</span></h1>
                {% else %}
                    <h1>Add A Recipe</h1>
                {% endif %}

                <form action ="" method="post">
                    
                    {% csrf_token %}
                    {{ form|bulma }}
            
                    <input type="submit" value="Submit" class="button is-primary is-light">
                </form>
            </div>    
        </div>
    </section>

{% endblock %}