{% extends 'base.html' %}

{% block title %}
View All Cakes
{% endblock %}

{% block content %}

<section class="hero is-warning is-light">
    <div class="container">
        <div class="hero-body">
            <p class="title">
            Our cake shelf
            </p>
            <p class="subtitle">
            Take a look at all the cakes added by our community of bakers, and the different recipes attached to each cake!
            </p>
            {% if user.is_authenticated %}

            {% else %}
            <p class="subtitle">Not a member yet?</p>
            <a href="{% url 'signup' %}"><button class="button is-link is-light">Sign up now!</button></a>
            {% endif %}
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="container columns is-multiline">

            {% for cake in page_obj %}
            
            
            <div class="column is-half">
                <div class="card m-3">
                    <a href="{% url 'detail' cake.id %}" style="text-decoration: none; color: black">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="{{ cake.imageurl }}" id="cakeImage"/>
                            </figure>
                        </div>
                    
                        <div class="card-content" style="background-color: {{ cake.flavours }}">
                            <h3 class="title is-3">
                                {{ cake.name }}
                            </h3>
                            <div class="content">
                                <p><b>Primary Flavour:</b> 
                                    <br>{{ cake.get_flavours_display }}</p>
                                <p><b>Description:</b> 
                                    <br>{{ cake.description }}</p>
                            </div>
                        </div>
                    </a>
                </div> 
            </div>

            {% endfor %}

        </div>
        <br>
        <div class="pagination-container">
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="pagination-previous" href="?page=1">&laquo; First</a>
                        <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% else %}
                        <a class="pagination-previous" href="#">&laquo; First</a>
                        <a class="pagination-previous" href="#">Previous</a>
                    {% endif %}
    
                    <span class="current">
                        || Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} ||
                    </span>
    
                    {% if page_obj.has_next %}
                        <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a class="pagination-next" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    {% else %}
                    <a class="pagination-next" href="#">Next</a>
                    <a class="pagination-next" href="#">Last &raquo;</a>
                    {% endif %}
                </span>
            </nav>
        </div>
    </div>
</section>



{% endblock %}