{% extends 'base.html' %}
{% load bulma_tags %}

{% block title %}
Change Password
{% endblock %}

{% block content %}

<section class="section section--form">
    <div class="container is-max-desktop">
        <div class="content box">
            <h1>Change Password</h1>

            <form method="post" action="{% url 'password_change' %}">
                
                {% csrf_token %}
                {{ form|bulma }}

                <br>

                <input type="submit" class="button is-primary" value="Change Password">

            </form>
        </div>    
    </div>
</section>



{% endblock %}