{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
      </title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
</head>
<body>
    <header class="nav-head">
        <nav class="navbar">
            <div class="navbar-menu content">
                <div class="navbar-start">
                    <a href ="{% url 'index' %}" class="navbar-item">View All Cakes</a>                    
                {% if user.is_authenticated %}                   
                    <a href ="{% url 'cakes_create' %}" class="navbar-item">Add a Cake</a>                                       
                </div>
                
                
                    <h1 id="head-title" class="navbar-item">Cake Sera Sera</h1>
                

                <div class="navbar-end">
                    <a class="navbar-item greeting">Hi there, {{user.username}}!</a>
                    <a href="{% url 'password_change' %}" class="navbar-item">Change Password</a>
                    <a href="{% url 'logout' %}" class="navbar-item">Log Out</a>
                {% else %}
                </div>

                <h1 id="head-title">Cake Sera Sera</h1>

                <div class="navbar-end">
                    <a href ="{% url 'signup' %}" class="navbar-item">Sign Up</a>
                    <a href ="{% url 'login' %}"  class="navbar-item">Log In</a>
                {% endif %}  
                </div>
            </div>
        </nav>
    </header>


    {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %} style="margin: auto;">{{ message }}</p>
        {% endfor %}
    {% endif %}
    
    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer class="level">
        <div id="footleft">
            All Rights Reserved, &copy; 2022 Marc Usher, Richard Afrane-Kesey, Chris Ailey
        </div>
        <div id="footright">
            Check us out on GitHub:
            <a href="https://git.generalassemb.ly/marc/">Marc</a> |
            <a href="https://git.generalassemb.ly/rakitent/">Richard</a> |
            <a href="https://git.generalassemb.ly/cailey90/">Chris</a>
        </div>

    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>